@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 10px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    scroll-behavior: smooth
}

*,
*:before,
*::after{
    box-sizing: inherit;
}

body{
    background: white;
    margin: 50px;
    background-attachment: fixed;
    font-size: 1.5rem;
}